<form [formGroup]="invoiceForm" (submit)="submitApplication()" class="ingredients-form">
  <ng-container *ngIf="invoiceList.controls && invoiceList.value.length > 0">
    <div formArrayName="invoiceList" *ngFor="let invoiceGroup of invoiceList?.controls; let firstIndex = index">
      {{firstIndex}}
      <button (click)="log(invoiceGroup)">Click ME!</button>
      <div [formGroupName]="firstIndex">
        <mat-form-field>
          <mat-select formControlName="company" placeholder="Nazwa firmy">
            <mat-option *ngFor="let companies of companyList" [value]="companies">
              {{companies}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Data faktury">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <ng-container *ngIf="ingredientsList.value.length">
          <div formArrayName="ingredientsList" class="ingredients-list">
            <div *ngFor="let ingredientGroup of ingredientsList.controls; let secondIndex = index;" class="--group">
              <div [formGroupName]="secondIndex" class="--item">
                <!-- ingredientGroup -->
                <mat-form-field>
                  <input formControlName="ingredientName" matInput placeholder="Nazwa">
                </mat-form-field>
                <mat-form-field >
                  <input formControlName="ingredientQuantity" matInput placeholder="Ilość" type="number">
                </mat-form-field>
                <mat-form-field>
                  <mat-select formControlName="ingredientTypeVolume" placeholder="Jednostka miary">
                    <mat-option *ngFor="let type of ingredientTypeVolume" [value]="type">
                      {{type}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- ceny -->
                <div formGroupName="prices">
                  <mat-form-field>
                    <input formControlName="ingredientPriceNet" matInput placeholder="Cena netto">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select formControlName="ingredientTax" placeholder="Podatek">
                      <mat-option *ngFor="let type of ingredientTypeTax" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="ingredientPriceGross" matInput placeholder="Cena brutto">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button color="primary" class="primary add-item" (click)="addIngredientGroup(ingredientGroup)">Dodaj item</button>
            </div>
          </div>
        </ng-container>


      </div>
      <button mat-raised-button color="primary" class="primary add-item" (click)="addInvoiceGroup(invoiceGroup)">Dodaj kolejną fakturę</button>
    </div>
  </ng-container>


  <div class="form-buttons">


    <button mat-raised-button color="primary" type="submit" class="primary submit-form">Submit form</button>
  </div>
</form>
